<ion-header>
  <ion-toolbar style="--background: #111111;color:#cda434">
      <ion-buttons slot="start">
          <ion-menu-button class="menuIcon"></ion-menu-button>
        </ion-buttons>
        <ion-title >NUOVA PREVENDITA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="align">
  <ion-grid>
    <ion-row>
      <ion-col size="10" class="align">
        <form (ngSubmit)="insert()" style="width:100%;">
            <ion-item no-padding>
               
                <ion-input type="text" [(ngModel)]="person.nome" name="name" placeholder="Nome"  ></ion-input>
            </ion-item>
            <ion-item no-padding>
               
              <ion-input type="text" [(ngModel)]="person.cognome" name="surname" placeholder="Cognome"  ></ion-input>
          </ion-item>
          <ion-item no-padding>
               
            <ion-input type="text" [(ngModel)]="person.importo" name="price" placeholder="Importo"  ></ion-input>
         </ion-item>
         <ion-item no-padding>
               
            <ion-input type="text" [(ngModel)]="person.email" name="email" placeholder="email"  ></ion-input>
        </ion-item>
         <ion-item no-padding>
               
          <ion-item>
            <ion-label>TIPO PREVENDITA</ion-label>
            <ion-select  (ionChange)="onItemSelection($event)">
              <ion-select-option ([ngModel])="selectedItem" *ngFor="let item of itemsArray" [value]="item.id ">
                {{item.name}}</ion-select-option>
           </ion-select>
          </ion-item>
       </ion-item>
         <div style="height:50px">

         </div>
          <ion-button (click)="truthClick()" [disabled]="disableButton" type="submit" expand="block"color="primary">INSERISCI PREVENDITA</ion-button>
 
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
