<ion-header>
  <ion-toolbar style="--background: #111111;color:#cda434">
      <ion-buttons slot="start">
          <ion-menu-button class="menuIcon"></ion-menu-button>
        </ion-buttons>
        <ion-title>PREVENDITE VENDUTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding no-margin>
  <ion-card>
  <p style="text-align:center"><b>STATISTICHE </b></p>
  <p style="margin-left: 15px;">
    PREVENDITE VENDUTE: {{persone}}<br>
    TOT: {{soldi_totali}}€
  </p>

  </ion-card>
  <ion-grid style="width:100%" >
    <ion-row >
      <ion-col size="1" style="text-align: center;font-size: 16px;">
       ID
        </ion-col>
    <ion-col size="4" style="text-align: center;font-size: 16px;">
    NOME
    
    </ion-col>
    <ion-col size="1" style="text-align: center;font-size: 14px;">
    N°
    </ion-col>
    <ion-col size="2" style="text-align: center;font-size: 14px;">
      €
    </ion-col>
    <ion-col size="4" style="text-align: center;font-size: 14px;">
     AZIONI
    </ion-col>
  </ion-row></ion-grid>
  <ion-card  style="width: 100%;--background: white;margin:0px 10px;"  *ngFor="let ticket of tickets; let i= index;">

  <ion-grid>
      <ion-row >
          <ion-col size="1" style="text-align: center;font-size: 16px;">
              {{ticket.id}}
            </ion-col>
        <ion-col size="4" style="text-align: center;">
          {{ticket.nome}}
          <br>
          {{ticket.cognome}}
        </ion-col>
        <ion-col size="1" style="text-align: center;font-size: 17px;">
          x{{ticket.persone}}
        </ion-col>
        <ion-col size="2" style="text-align: center;font-size: 20px;">
          {{ticket.importo}}€
        </ion-col>
        <ion-col size="4" style="text-align: center;font-size: 28px;">
          <ion-icon (click)="sendmail(ticket)" name="mail" style="color:blue;margin:0px 10px;"></ion-icon>
          <ion-icon (click)="delete(ticket)" name="close"  style="color:red;margin:0px 10px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>
    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-spinner [style.display]="displaySpinner" name="crescent"></ion-spinner>
      </ion-fab>
</ion-content>
