<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class = "menu">
      <ion-item  style="--background:transparent;color: black;" button  routerLink="inserimento" routerDirection="forward"
      routerLinkActive="active" >
        <ion-icon name="add" slot="start" style="color: black"></ion-icon>
        <ion-label>INSERIMENTO PREVENDITA</ion-label>
      </ion-item>
      <ion-item  style="--background:transparent;color: black;" button  routerLink="elenco" routerDirection="forward"
      routerLinkActive="active">
        <ion-icon name="list" slot="start" style="color: black"></ion-icon>
        <ion-label>ELENCO PREVENDITE</ion-label>
      </ion-item>
      <ion-item  style="--background:transparent;color: black;" button  routerLink="verifica" routerDirection="forward"
      routerLinkActive="active">
        <ion-icon name="locate" slot="start" style="color: black"></ion-icon>
        <ion-label>VERIFICA PREVENDITA</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
